:root {
    --light:    #e6e2d4;

    --darkest:  #89764e;
    --darker:   #9a8967;
    --dark:     #ab9d80;
    --mid:      #bcb199;

    --header-rotation-x: 0deg;
    --header-rotation-y: 0deg;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    /* height: 100vh;
    width: 100%;
    min-height: 100%;
    min-width: 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark);
    
    /* height: 100vh; */
    /* width: 100%; */
    min-height: 100%;
    /* min-width: 100%; */

    /* display: flex;
    flex-direction: column; */
}





.hidden {
    visibility: hidden !important;
}

.removed {
    display: none !important;
}





#scroll-buttons {
    position: fixed;
    width: 50px;
    gap: 10px;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.scroll-button {
    right: 10px;
    bottom: 10px;
    max-width: 50px;
    width: 50px;
    max-height: 50px;
    height: 50px;
    background-color: #666;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}







#header {
    background-color: var(--light);

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
    transform-style: preserve-3d;
}

#header-text-container {
    font-size: 150px;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 1000px;
    transform-style: preserve-3d;

    transform: translateZ(200px) rotateX(var(--header-rotation-x)) rotateY(var(--header-rotation-y));
    /* animation: header-rotation 5s linear infinite; */
}

.header-text {
    position: absolute;
}

.header-text.one {
    transform: translateZ(0px);
    color: var(--darkest);
}

.header-text.two {
    /* transform: translateZ(-25px); */
    color: var(--darker);
    animation: header-two-move 5s ease-in-out infinite;
}

.header-text.three {
    /* transform: translateZ(-50px); */
    color: var(--dark);
    animation: header-three-move 5s ease-in-out infinite;
}





.section {
    min-height: 50vh;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.section.one {
    background-color: var(--mid);
}

.section.two {
    background-color: var(--dark);
}

.section.three {
    background-color: var(--darker);
}

.section.four {
    background-color: var(--darkest);
}






@keyframes header-two-move {
    0% {
        transform: translateZ(-25px);
    }
    50% {
        transform: translateZ(-1px);
    }
    100% {
        transform: translateZ(-25px);
    }
}

@keyframes header-three-move {
    0% {
        transform: translateZ(-50px);
    }
    50% {
        transform: translateZ(-2px);
    }
    100% {
        transform: translateZ(-50px);
    }
}